<% content_for :title, t("case_tasks.title") %>

<% content_for :case_details do %>
  <h2 id="case-details-heading" class="usa-heading-lg margin-bottom-1"><%= t("case_tasks.title") %></h2>
  <% if tasks.any? %>
    <ul class="usa-alert__text usa-list margin-top-1">
      <% tasks.each do |task| %>
        <li class="usa-list-item">
          <%= link_to task.class.name.underscore.humanize, task_path(task) %> (<%= task.status.humanize %>)
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render AlertComponent.new(
      type: "info",
      message: "No tasks available",
      classes: "usa-alert--slim usa-alert--no-icon",
      style: "padding: unset;"
    ) %>
  <% end %>
<% end %>
