<div id="<%= dom_id activity_report_application_form %>">
  <% for month, activities in activity_report_application_form.activities_by_month do %>
    <h2><%= month.strftime("%B %Y") %></h2>
    <div class="grid-container font-body-md">
      <% for activity in activities %>
        <%= render "activity_row", activity_report_application_form:, activity: %>
      <% end %>

      <%= render "month_total_row", activities: activities %>
    </div>
  <% end %>
</div>
