<div id="<%= dom_id activity %>" class="grid-row">
  <div class="grid-col-8 grid-offset-1">
    <%= link_to "Work for #{activity.name}", [@certification, activity_report_application_form, activity] %>
  </div>
  <div class="grid-col-3 text-right">
    <%= activity.hours %>
  </div>
</div>
