<%= flex_form_with(model: activity_report_application_form, data: { turbo: false, controller: "activity-report-application-form" }) do |f| %>
  <p>
    TODO: Add ability to select multiple months
  </p>

  <%= f.select :reporting_period,
    6.times.map { |i|
      date = (Date.today - i.months).beginning_of_month
      [date.strftime("%B %Y"), date]
    }, { prompt: "- Select -" }
  %>
  <%= f.submit "Save", big: true %>
<% end %>
