<%= strata_form_with(model: activity_report_application_form, data: { turbo: false }) do |f| %>
  <p>
    TODO: Add ability to select multiple months
  </p>

  <% current_selection = activity_report_application_form.reporting_periods&.first %>
  <% selected_value = current_selection ? { year: current_selection.year, month: current_selection.month }.to_json : nil %>
  
  <%= f.select :reporting_periods,
    6.times.map { |i|
      date = (Date.today - i.months).beginning_of_month
      hash_value = { year: date.year, month: date.month }.to_json
      [date.strftime("%B %Y"), hash_value]
    }, 
    { prompt: "- Select -", selected: selected_value },
    { name: "activity_report_application_form[reporting_periods][]" }
  %>
  <%= f.submit "Save", big: true %>
<% end %>
