<div class="grid-row">
  <div class="grid-col-7 grid-offset-1">
    <%= t(".total_reported") %>
  </div>
  <div class="grid-col-2 border-top-1px text-right">
    <%= activities.map { |act| act.try(:hours) || 0 }.sum %>
  </div>
  <div class="grid-col-2 border-top-1px text-right">
    <%= number_to_currency(activities.map { |act| act.try(:earned_income) || 0 }.sum) %>
  </div>
</div>
