<div class="grid-row">
  <div class="grid-col-7 grid-offset-1">
    <%= t(".total_reported") %>
  </div>
  <div class="grid-col-2 border-top-1px text-right">
    <%= activities.sum(&:hours) %>
  </div>
  <div class="grid-col-2 border-top-1px text-right">
    <%# TODO: number_to_currency(activities.sum(&:income_earned)) %>
  </div>
</div>
