<% content_for :title, "Select reporting period" %>

<%= render partial: "application/breadcrumbs", locals: { crumbs: [
  { name: "Dashboard", url: dashboard_path },
  ], current_name: "Select reporting period" } %>

<h1>Select reporting period</h1>

<%= render "form", activity_report_application_form: @activity_report_application_form %>
