<%= render partial: "application/breadcrumbs", locals: { crumbs: [
  { name: "Dashboard", url: dashboard_path },
  ], current_name: "New activity report" } %>

<% content_for :title, "New activity report" %>

<h1>New activity report</h1>

<%= render "form", activity_report_application_form: @activity_report_application_form, certification: @certification %>
