<%= content_for :title, "Before you start" %>
<h1>Before you start</h1>
<p><strong>Estimated time to complete:</strong> About 1 hour</p>
<p> Before you begin, please have the following ready:</p>
<ul>
  <li>Details about your work, educational programs, community service, or work programs</li>
  <li>Supporting documentation</li>
  <li>If you believe you qualify for an exemption, you will need to provide supporting documentation</li>
</ul>
<p>You can save your progress and return anytime</p>
<%= link_to "Start", edit_activity_report_application_form_path(@activity_report_application_form), class: "usa-button usa-button--big" %>
