<div id="<%= dom_id activity %>" class="grid-row">
  <div class="grid-col-4 grid-offset-2">
    <%= activity.name %>
  </div>
  <div class="grid-col-3">
    Work
  </div>
  <div class="grid-col-3">
    <%= activity.hours %>
  </div>
</div>
