<div id="<%= dom_id activity %>" class="grid-row">
  <div class="grid-col-7 grid-offset-2">
    Work for <%= activity.name %>
  </div>
  <div class="grid-col-3 text-right">
    <%= activity.hours %>
  </div>
</div>
