<% content_for :title, t(".title") %>

<%= link_to t(".back"), certification_activity_report_application_form_path(@certification, @activity_report_application_form) %>

<h1><%= t(".title") %></h1>

<%= render "form", activity_report_application_form: @activity_report_application_form, activity: @activity, certification: @certification %>
