<% if @information_requests.any? %>
<div>
  <h4><%= t("certification_cases.show.information_request_sent") %></h4>
  <p>
    <%= t("certification_cases.show.information_request_info") %>
    <ul>
      <% information_requests.each do |information_request| %>
        <li>
          <%= link_to "#{information_request.type.underscore.titleize} - #{information_request.created_at.strftime("%B %d, %Y")}",
            information_request_path(information_request) %>
        </li>
      <% end %>
  </p>
</div>
<% else %>
  <p><%= t("certification_cases.show.no_information_requests") %></p>
<% end %>


