<% content_for :title, t(".title") %>

<% content_for :case_details do %>
  <h2 id="case-notes-heading" class="usa-heading-lg margin-bottom-2"><%= t(".title") %></h2>
  <textarea class="usa-textarea" id="case-notes" name="case-notes" aria-labeledby="case-notes-heading">No notes available</textarea>
<% end %>

<%= render "case_layout" %>
