<div class="grid-row grid-gap">
  <div class="grid-col-6">
    <div class="border-2px padding-2">
      <h2>Report Activities</h2>
      <p class="font-serif-md">
        Report your activities for the current reporting period.
      </p>
      <%= link_to "Report activities", new_activity_report_application_form_path, class: "usa-button" %>
    </div>
  </div>
  <div class="grid-col-6">
    <div class="border-2px padding-2">
      <h2>Apply for an exemption</h2>
      <p class="font-serif-md">
        If you have certain conditions, you may not need to report activities.
      </p>
      <p class="font-serif-md">
        <strong>Exemption status</strong><br />
        You have an exemption request in progress.
      </p>
      <%= link_to "Continue request", edit_exemption_application_form_path(exemption_application), class: "usa-button" %>
    </div>
  </div>
</div>