<p class="usa-intro">
  Your exemption application was approved. You do not need to report activities at this time.
</p>
<%= link_to "View completed certification", certification_path(certification), class: "usa-button" %>