<div class="grid-container">
  <%= render AlertComponent.new(type: "error", heading: t(".heading"), message: t(".intro"), heading_level: 3) %>
  <div class="margin-top-3">
    <%= link_to t(".view_exemption_button"), exemption_application_form_path(exemption_application), class: "usa-button" %>
  </div>
</div>
