<%
    icon = case status
            when "approved"
                "check"
            when "denied"
                "close"
            else
                "info"
            end
    text_color = case status
                    when "approved"
                        "text-green"
                    when "denied"
                        "text-red"
                    else
                        "text-base"
                    end
%>
<svg
    class="usa-icon position-relative bottom-neg-2px"
    aria-hidden="true"
    role="img"
    >
  <use href="/assets/img/sprite.svg#<%= icon %>" class="<%= text_color %>"></use>
</svg>
<span class="margin-left-1 <%= text_color %>">
  <%= status.humanize %>
</span>