<h2 class="member-dashboard-greeting"><%= t(".greeting", first_name: (@certification&.member_name&.first || current_user.full_name&.split&.first)&.capitalize) %></h2>
<% if @information_request %>
  <%= render "dashboard/request_for_information", information_request: @information_request %>
<% end %>
<%= render determine_dashboard_view,
           compliance: @member_dashboard_compliance,
           activity_report: @activity_report_application_form,
           exemption_application: @exemption_application_form,
           certification_case: @certification_case,
           certification: @certification,
           current_period: @current_period,
           target_hours: @target_hours,
           period_end_date: @period_end_date,
           total_hours_reported: @total_hours_reported,
           hours_needed: @hours_needed %>
<% if @previous_completed_certifications.present? %>
  <%= render "dashboard/previous_certifications" %>
<% end %>
