<% content_for :title, "Demo" %>
<%= content_for :main_col_class, "bg-base-lightest" %>

<h1 class="font-heading-2xl">
  Demo
</h1>
<p class="usa-intro">
  See the sidebar for a variety of useful functionality.
</p>
