<div id="<%= dom_id exemption_application_form %>">
  <h2>Exemption Type</h2>
  <p><%= exemption_application_form.exemption_type&.humanize %></p>

  <%= render "application/supporting_documents", 
    model: exemption_application_form %>
</div>
