<% content_for :title, t(".title") %>

<%= render "exemption_step_indicator", current_step: :exemption_type %>

<h1><%= t(".heading") %></h1>

<%= render "form", exemption_application_form: @exemption_application_form %>
