<%# Displays an evidence source attribution label (icon + text) at the top-right of a field group. %>
<div class="text-no-wrap margin-left-1">
  <%= uswds_icon(icon_info[:icon], label: label, css_class: "#{icon_info[:color]} margin-right-05", size: 2, style: "vertical-align: middle") %>
  <span class="font-sans-2xs <%= icon_info[:color] %>"><%= label %></span>
</div>
