<tr>
  <td><%= link_to task.type.underscore.humanize, task_path(task) %></td>
  <td><%= task.case.certification&.member_email %></td>
  <td><%= task.case.certification&.case_number %></td>
  <td><%= task.due_on&.strftime("%m/%d/%Y") || "—" %></td>
</tr>
