############################
# Rails
############################

RAILS_ENV=development

# Time Zone listings/mappings can be found at https://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html
# TIME_ZONE="Eastern Time (US & Canada)"

############################
# Rails: Urls
############################

APP_HOST=localhost
APP_PORT=3000

############################
# AWS services
############################

AWS_ACCESS_KEY_ID=<FILL ME IN>
AWS_SECRET_ACCESS_KEY=<FILL ME IN>
AWS_DEFAULT_REGION=<FILL ME IN>

############################
# File storage
############################

# Uncomment and fill in an AWS S3 bucket name to use S3 for file storage
# BUCKET_NAME=<FILL ME IN>

############################
# Auth
############################

COGNITO_USER_POOL_ID=<FILL ME IN>
COGNITO_CLIENT_ID=<FILL ME IN>
COGNITO_CLIENT_SECRET=<FILL ME IN>

# "mock" to enable local login with any email/password combo; "cognito" to use the proper authentication flow
AUTH_ADAPTER="mock"

############################
# Database
############################

DB_HOST=127.0.0.1
DB_NAME=app
DB_USER=app
DB_PASSWORD=secret123
DB_PORT=5432

############################
# Income verification as a service (IVaaS)
############################

# Obtain an API key from the CMS income verification as a service team
IVAAS_API_KEY=<FILL ME IN>
IVAAS_BASE_URL=https://sandbox-verify-demo.navapbc.cloud
IVAAS_CLIENT_AGENCY_ID=sandbox

# Which reporting service to use. Valid values are:
# "income_verification_service" - CMS's income verification as a service.
#    Requires IVAAS_API_KEY, IVAAS_BASE_URL, and IVAAS_CLIENT_AGENCY_ID env
#    variables to be set.
# "reporting_app" - Built in application
REPORTING_SOURCE=income_verification_service

############################
# Lookbook
############################

ENABLE_LOOKBOOK=true
