<% if @documents.any? %>
  <ul class="usa-alert__text usa-list">
    <% @documents.each do |document| %>
      <li class="usa-list-item">
        <%= link_to(rails_blob_path(document, disposition: "attachment"), target: "_blank") do %>
          <strong><%= document.filename %></strong> - <%= document.content_type.humanize %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div style="padding: unset;" class="usa-alert usa-alert--info usa-alert--slim  usa-alert--no-icon" role="status">
    <div class="usa-alert__body">
      <p class="usa-alert__text">No tasks available</p>
    </div>
  </div>
<% end %>