<h2 id="case-details-heading" class="usa-heading-lg margin-bottom-2" id="case-notes-heading">Case Notes</h2>
<textarea class="usa-textarea" id="case-notes" name="case-notes" aria-labeledby="case-notes-heading">No notes available</textarea>