<% content_for :title, "Edit activity report" %>

<%= render partial: "application/breadcrumbs", locals: { crumbs: [
  { name: "Activity reports", url: activity_report_application_forms_path },
  ], current_name: "Edit activity report" } %>

<h1>Edit activity report</h1>

<%= render "form", activity_report_application_form: @activity_report_application_form %>
