<%= render partial: "application/breadcrumbs", locals: { crumbs: [
  { name: "Medicaid applications", url: medicaid_application_forms_path },
  ], current_name: "New medicaid application" } %>

<% content_for :title, "New activity report application form" %>

<h1>New activity report application form</h1>

<%= render "form", activity_report_application_form: @activity_report_application_form %>
