<% content_for :title, "Certification" %>

<h1>Certification</h1>

<%= render "form", certification_form: @certification, submit_text: "Update" %>

<h2>Associated reports</h2>

<!-- TODO: really should have a quick and dirty table template/util to use for this stuff -->
<table class="usa-table usa-table--borderless width-full">
    <thead>
      <tr>
        <th scope="col">
          Activity Report ID
        </th>
        <th scope="col">
          Cases
        </th>
      </tr>
    </thead>
    <tbody>
      <% for activity_report in @certification.activity_report_application_forms do %>
          <tr>
              <td>
                  <%= link_to activity_report.id, activity_report_application_form_path(activity_report) %>
              </td>
              <td>
                  <!-- TODO: obviously make this better, probably link to a cases search with re-populated application id -->
                  <%= activity_report.activity_report_cases.count %>
              </td>
          </tr>
      <% end %>
    </tbody>
</table>
