<% content_for :title, t(".title") %>

<div class="grid-container">
  <%= render "step_indicator", current_step: @current_step %>

  <main id="main-content">
    <h1 class="font-heading-2xl margin-bottom-2">
      <%= t(".heading") %>
    </h1>

    <p class="font-serif-md margin-bottom-4">
      <%= t(".description") %>
    </p>

    <%= link_to t(".buttons.start"),
      exemption_screener_question_path(
        exemption_type: @first_exemption_type,
        certification_case_id: @certification_case.id
      ),
      class: "usa-button" %>
  </main>
</div>
