<p style="margin-top: 1.5em;"><%= t('.signature.sincerely') %></p>
<p style="margin-bottom: 0;"><%= t('.signature.agency_name') %></p>
<p style="margin-top: 0;"><%= t('.signature.support_contact') %></p>
